html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
 * Start index.js
 */
.bd-placeholder-img {
  object-fit: cover;
}
.carousel-item {
  height: 60vh !important;
}
.card_container {
  width: 130px;
  margin: 10px;
  box-shadow: 3px 3px 12px -3px #888888;
}
.card_content {
  padding: 5px;
}
.img_round_edge {
  border-radius: 6px;
}
.card_content > h5 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_content > p {
  font-size: 11px !important;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
}
.card_content > span {
  border-radius: 50%;
  height: 140px;
  width: 100px;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 5px;
}
.headLine {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin: 10px;
}
.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
/*
 * end index.js
 */

/* details */
.detaile_img {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* end details */
